@media screen and (max-width: 1024px) {

    /* applies when the viewport is < 1025px */
    .page_detail_box {
        float: none;
        display: inline;
        text-align: center;
        margin-bottom: 10px;
        background-color: unset;
        border: unset;
    }

    .page_content_box {
        margin-right: unset;
    }
}

@media screen and (max-width: 889px) {

    /* applies when the viewport is < 890px */
    #banner_header_label {
        display: none;
    }

    .page_detail_box {
        float: initial;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 749px) {

    /* applies when the viewport is < 750px */
    #banner_search {
        display: none;
    }

    #banner_search_small {
        display: flex;
    }

    #login_email,
    #login_password {
        width: 200px;
    }

    #pagefooter {
        padding-left: 50px;
        padding-right: 50px;
    }
}